{% extends 'base.html' %}
{% block content %}
<h1>Crear Receta</h1>
<form method="post">
    {% csrf_token %}
    {{ recipe_form.as_p }}
    <h3>Ingredientes</h3>
    <div id="ingredientes">
        <div class="ingrediente">
            <select name="ingredient_item_0">
                <option value="">-- seleccione --</option>
                {% for item in items %}
                <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <input type="number" name="ingredient_quantity_0" placeholder="Cantidad" step="1" min="1">
        </div>
    </div>
    <button type="button" id="agregar_ingrediente">+ Agregar otro ingrediente</button>
    <br><br>
    <button type="submit">Guardar Receta</button>
</form>
<script>
    let contador = 1;
    document.getElementById('agregar_ingrediente').onclick = function() {
        let div = document.createElement('div');
        div.className = 'ingrediente';
        div.innerHTML = `
            <select name="ingredient_item_${contador}">
                <option value="">-- seleccione --</option>
                {% for item in items %}
                <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <input type="number" name="ingredient_quantity_${contador}" placeholder="Cantidad" step="1" min="1">
        `;
        document.getElementById('ingredientes').appendChild(div);
        contador++;
    };
</script>
{% endblock %}